@page "/"
@inject HttpClient client
@inject ToDoStore store
@using ToDo.Models

<PageTitle>ToDos</PageTitle>

<ToDoAdd onsubmit=@onsubmit></ToDoAdd>
@if(store.Count() != 0){
@foreach (var i in store.getStore())
{
    <ShowToDos Delete=@Delete i=@i></ShowToDos>
}
}else{
    <div>
        Nothing Here!!
    </div>
}




@code {
    

    
    public void Delete(ToDoViewModel i)
    {
        store.Remove(i);
    }
    public void onsubmit(EditContext editContext)
    {
        if (editContext.Validate())
        {
            
            var q=(ToDoViewModel)editContext.Model;
            var a=new ToDoViewModel(){
                title=q.title,
                completed=q.completed
            };
            store.Add(a);
        }
        
    }

}
